body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

ul {
  list-style-type: none;
  border:#0cc0df;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.links {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
  border-left: 1px solid #bbb;
}

.links:hover {
  background-color: #0c99df; 
}

.header {
  margin: 0;
  padding: 0;
  width: auto;
  overflow: hidden;
  background: #0cc0df;
  color: white;
}

#header-title {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  float: left;
  margin: 0px;
  padding-top: 5px;
  font-size: xx-large;
  font-weight: 700;
}

.login-title {
  color: #0cc0df;
  font-size: 70px;
  text-align: center;
}

.google-button {
  width: 200px;
  height: 50px;
  background-color: #0cc0df;
  color: white;
  border-style: none;
  text-align: center;
  font-size: medium;
}